@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Thin/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('Roboto-Thin/Roboto-Thin.woff') format('woff'), url('Roboto-Thin/Roboto-Thin.ttf') format('truetype'), url('Roboto-Thin/Roboto-Thin.svg#Roboto-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-ThinItalic/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('Roboto-ThinItalic/Roboto-ThinItalic.woff') format('woff'), url('Roboto-ThinItalic/Roboto-ThinItalic.ttf') format('truetype'), url('Roboto-ThinItalic/Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Light/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('Roboto-Light/Roboto-Light.woff') format('woff'), url('Roboto-Light/Roboto-Light.ttf') format('truetype'), url('Roboto-Light/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-LightItalic/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('Roboto-LightItalic/Roboto-LightItalic.woff') format('woff'), url('Roboto-LightItalic/Roboto-LightItalic.ttf') format('truetype'), url('Roboto-LightItalic/Roboto-LightItalic.svg#Roboto-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('Roboto-Regular/Roboto-Regular.woff') format('woff'), url('Roboto-Regular/Roboto-Regular.ttf') format('truetype'), url('Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Italic/Roboto-Italic.eot?#iefix') format('embedded-opentype'), url('Roboto-Italic/Roboto-Italic.woff') format('woff'), url('Roboto-Italic/Roboto-Italic.ttf') format('truetype'), url('Roboto-Italic/Roboto-Italic.svg#Roboto-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('Roboto-Medium/Roboto-Medium.woff') format('woff'), url('Roboto-Medium/Roboto-Medium.ttf') format('truetype'), url('Roboto-Medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-MediumItalic/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('Roboto-MediumItalic/Roboto-MediumItalic.woff') format('woff'), url('Roboto-MediumItalic/Roboto-MediumItalic.ttf') format('truetype'), url('Roboto-MediumItalic/Roboto-MediumItalic.svg#Roboto-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('Roboto-Bold/Roboto-Bold.woff') format('woff'), url('Roboto-Bold/Roboto-Bold.ttf') format('truetype'), url('Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-BoldItalic/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('Roboto-BoldItalic/Roboto-BoldItalic.woff') format('woff'), url('Roboto-BoldItalic/Roboto-BoldItalic.ttf') format('truetype'), url('Roboto-BoldItalic/Roboto-BoldItalic.svg#Roboto-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Black/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('Roboto-Black/Roboto-Black.woff') format('woff'), url('Roboto-Black/Roboto-Black.ttf') format('truetype'), url('Roboto-Black/Roboto-Black.svg#Roboto-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-BlackItalic/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('Roboto-BlackItalic/Roboto-BlackItalic.woff') format('woff'), url('Roboto-BlackItalic/Roboto-BlackItalic.ttf') format('truetype'), url('Roboto-BlackItalic/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}